<!-- About -->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mes expériences</h2>
            <h3 class="section-subheading text-muted">Suivez mon parcours professionnel</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ asset('images/about/1.jpg') }}"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021 - 2024</h4>
                        <h4 class="subheading">Développeur web junior Symfony</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                            <strong>Entreprise : PICHET IMMOBILIER </strong><br>
                            <i>Durée : depuis le 26 février 2024 à aujourd'hui</i><br>
                            Compétences : Communication orale · Base de données · Front-end · Back-end · Twig · Symfony
                            · PHP · Doctrine · Linux · MySQL · Service client · Travail d’équipe · Sens de
                            l’organisation
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ asset('images/about/2.jpg') }}"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021 - 2024</h4>
                        <h4 class="subheading">Responsable RH mobilité & gestionnaire de paie</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                            <strong>Entreprise : CULTURA </strong><br>
                            <i>Durée : 3ans</i><br>
                            Compétences : Communication orale · Analyse de données · Gestion de la paie · Service client
                            · Travail d’équipe · Sens de l’organisation
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ asset('images/about/3.jpg') }}"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019 - 2021</h4>
                        <h4 class="subheading">Hôtesse de l’air</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                            <strong>Entreprise : AIR CARAÏBES et ARMÉE DE L'AIR</strong><br>
                            <i>Durée : 2ans</i><br>
                            Compétences : Défense · Communication orale · Gestion du stress · Service client · Travail
                            d’équipe · Aviation · Sens de l’organisation · Chinois · Anglais · Espagnol</div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ asset('images/about/4.jpg') }}"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2018 - 2019</h4>
                        <h4 class="subheading">Cheffe réception</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                            <strong>Entreprise : ETCHE-ONA**** et DEEP NATURE SPA***** Bora Bora, Polynésie
                                Française </strong><br>
                            <i>Durée : 2ans</i><br>
                            Compétences : Communication orale · Gestion du stress · Service client · Travail d’équipe ·
                            Luxe · Sens de l’organisation · Chinois · Anglais · Espagnol</div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Licence de
                        <br/>
                        langue Chinoise
                        <br/>
                        & Bac S en poche!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>