<!-- Masthead-->
<header class="masthead bg-image header-image" style="background-image: url({{ asset('images/header-bg.jpg') }})">
    <div class="container-head" >
        <div class="masthead-subheading">Julie Raymond</div>
        <div class="masthead-heading text-uppercase">Développeuse web fullstack</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#technos">Ma Stack</a>
    </div>
</header>