<!-- SoftSkills -->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mes softs skills</h2>
            <h3 class="section-subheading text-muted">Voici mes 3 princapales soft skills, acquises lors de mes
                précédentes expériences professionnelles.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    {#                    <img class="mx-auto rounded-circle" src="{{ asset('images/team/1.jpg') }}" alt="..."/> #}
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-face-laugh-beam fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Travail en équipe</h4>
                    <p class="text-muted">Expérience : hôtesse de l'air</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    {#                    <img class="mx-auto rounded-circle" src="{{ asset('images/team/2.jpg') }}" alt="..."/> #}
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-spa fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Résistance au stress</h4>
                    <p class="text-muted">Experience : armée de l'air</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    {#                    <img class="mx-auto rounded-circle" src="{{ asset('images/team/3.jpg') }}" alt="..."/> #}
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-award fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Management</h4>
                    <p class="text-muted">Expérience : responsable RH</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">
                    Derrière chaque ligne de code se cache Julie Raymond, 30 ans, un mix explosif de compétences
                    techniques et de soft skills prêtes à révolutionner votre équipe ! Imaginez une développeuse qui a
                    troqué les positions de yoga pour des positions de balises HTML, jonglant entre la zenitude du
                    yoga et l'euphorie du développement full stack. Oui, c'est moi !
                    <br><br>
                    Mon parcours ? Une symphonie professionnelle aussi éclectique que votre playlist Spotify préférée.
                    Du lycée à Pékin, des nuages de Bora-Bora aux missions secrètes de l'armée, je suis passée par
                    toutes les notes, du chill au rock. Hôtesse de l'air ? Check. RH chez Cultura ? Check.
                    Aujourd'hui,
                    je mets à profit cette polyvalence dans le monde des lignes de code.
                    <br><br>
                    Mes soft skills sont comme des superpouvoirs dans l'univers du
                    développement. Grâce à ma patience yogique, les bugs sont des puzzles excitants à résoudre. Mon
                    adaptabilité, héritée des missions militaires, me permet de jongler avec les frameworks comme
                    personne d'autre. Les années passées dans les RH ? Elles m'ont enseigné la bienveillance et
                    l'art de
                    gérer les relations humaines avec le même brio que je gère mes sessions de coding.
                    <br><br>
                    Les bugs peuvent être frustrants, mais avec moi, même les codes en panne
                    ont droit à une pointe d'humour ! Mon polyglottisme ne se limite pas aux langues, il se traduit
                    dans
                    ma capacité à communiquer aussi bien avec votre équipe qu'avec les machines.
                    <br><br>
                    Maintenant, si vous recherchez une développeuse qui apporte plus que du code à votre table, mais une
                    véritable bouffée d'air frais, ne cherchez plus. Travaillez avec moi, et ensemble, transformons
                    chaque
                    ligne de code en une œuvre d'art technologique, avec une bonne dose de fun et de polyvalence ! 🚀
                </p></div>
        </div>
    </div>
</section>