<!-- technos-->
<section data-aos="zoom-in-up"
         data-aos-duration="3000"
         class="page-section" id="technos">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Qui suis-je ?</h2>
            <h3 class="section-subheading text-muted">Passionnée de développement web, je suis une développeuse
                polyglotte et créative, spécialisée en conception d'interfaces UI/UX, avec une solide expérience en PHP,
                Symfony, et les dernières technologies front-end. <br><br>
                Explorez mon portfolio pour découvrir des projets innovants et témoins de ma passion pour créer des
                expériences utilisateur exceptionnelles.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-palette fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Front-end</h4>
                <ul class="text-muted">
                    <li>Conception d'interfaces utilisateur (UI/UX).</li>
                    <li>Wireframes pour la planification avec FIGMA.</li>
                    <li>Intégration de pages web en HTML et CSS.</li>
                    <li>Utilisation de JavaScript pour l'interactivité.</li>
                    <li>Utilisation du moteur de template TWIG.</li>
                    <li>Utilisation de frameworks CSS : PICO et BOOTSTRAP.</li>
                </ul>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-server fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Back-end</h4>
                <ul class="text-muted">
                    <li>Compétences backend en PHP natif et Symfony.</li>
                    <li>Gestion de bases de données SQL et NoSQL.</li>
                    <li>Création d'API.</li>
                    <li>Collaboration en équipe avec Git et GitHub.</li>
                    <li>Résolution de problèmes grâce aux algorithmes.</li>
                    <li>Expérience en développement PHP procédural, programmation orientée objet et MVC</li>
                </ul>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-language fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Langues vivantes</h4>
                <ul class="text-muted">
                    <li>Anglais : Bilingue.</li>
                    <li>Espagnol : Bilingue.</li>
                    <li>Chinois : Niveau licence + échange 2013 à 2014 (Beijing Inst. of Education).</li>
                </ul>
            </div>
        </div>
    </div>
</section>